*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}
body{
 background-color: rgba(169, 168, 168, 0.676);
}
label{
    color: rgb(0, 0, 0);
}
a.new_user{
    color: black;
}
section.hero{
    background-image: url(../imag/heroimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
