*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}
body{
 background-color: rgba(169, 168, 168, 0.676);
}
label{
    color: rgb(243, 236, 236);
}

/* add contact  */
 .contact-form {
        background: #b6b4b4;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    }
    .contact-form h3 {
        font-weight: bold;
        color: #0d6efd;
    }
    .form-control {
        border-radius: 10px;
    }
    .form-control:focus {
        box-shadow: none;
        border-color: #0d6efd;
    }
    .btn {
        border-radius: 20px;
        padding: 8px 20px;
    }
h2.titel_login{
    color: white;
}

div.back{
    background-color: rgba(95, 91, 91, 0.797);
    border-radius: 8px;
    box-shadow: 0 0 40px rgb(118, 116, 116) ;
}
body.info{
    background-image: url(../imag/de9c2e51b4e742677b9fc4ec7c35c50f.jpg);
     background-size: cover;
    background-repeat: no-repeat;
}

/* contacts */
tr td{
    color:rgb(1, 1, 1)
}
  table {
        border-radius: 10px;
        overflow: hidden;
    }
    thead th {
        text-transform: uppercase;
        font-size: 13px;
    }
    tbody tr:hover {
        background-color: #f8f9fa;
        transition: 0.2s;
    }
    
/* index page  */
section.hero a button {
    color: rgba(255, 255, 255, 0.744);
    background-color: rgb(52, 143, 255);
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 15px;
}
section.hero{
    padding: 30px;
    background-image: url(../imag/homeimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20%;
}
div.content img.hero_img{
    position: fixed;
    left: -20%;
    top: -29%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgb(118, 116, 116) ;
}
div.content{
    display: flex;
    justify-content: space-between;
}
 
h1.hero_titel{
    color: rgb(222, 219, 219);
}
div.hero_link{
    background-image:linear-gradient(to right , rgba(30, 28, 28, 0.817) , grey);
    padding: 20px;
    position:relative;
    left: 40%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(32, 23, 23) ;
}
div.content p{
    color:  white;
}

div.profil{
    background-color: rgba(211, 220, 220, 0.571);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(230, 230, 230) ;
}
body.index{
    overflow: hidden;
}